[Unit]
Description=ttyMIDI daemon
After=sound.target

[Service]
ExecStart=/usr/bin/ttymidi -s /dev/ttyAMA2 -b 38400 -n umbrellas_2
EnvironmentFile=/etc/environment

[Install]
WantedBy=multi-user.target
