[Unit]
Description=ttyMIDI-1 daemon
After=sound.target

[Service]
ExecStart=/usr/bin/ttymidi -s /dev/ttyAMA1 -b 38400 -n umbrellas_1
EnvironmentFile=/etc/environment

[Install]
WantedBy=multi-user.target
